In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# read the data
df = pd.read_csv('Salary_Data.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [8]:
x = df.drop('Salary', axis=1)
y = df['Salary']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=123456)

### Elastic Net

In [19]:
from sklearn.linear_model import ElasticNet

model = ElasticNet()
model.fit(x_train, y_train)

ElasticNet()

In [20]:
y_prediction = model.predict(x_test)

In [21]:
from sklearn.metrics import r2_score
print(f"r2 score = {r2_score(y_test, y_prediction)}")

r2 score = 0.9912494434467736

### Cross Validation

In [31]:
from sklearn.model_selection import KFold, cross_val_score


kfold = KFold(n_splits=10)
results = cross_val_score(model, x, y, cv=kfold, scoring="r2")
print(results)

[ -1.15028242   0.60593101  -1.76140558 -20.10307906   0.15633927
  -0.29718216   0.13181642   0.21192724  -0.61559453  -3.38922698]

In [32]:
print(results.mean())

-2.621075679830409