### import required packages

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### download the data

In [5]:
df = pd.read_csv('Salary_Data.csv')
print(df.head())

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

#### prepare the data

In [6]:
# decide x and y
x = df.drop('Salary', axis=1)
y = df['Salary']

# print(len(y))

In [7]:
# split the data into training and testing
from sklearn.model_selection import train_test_split

# randomly select 80% of the data into train set
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)
# print(len(x_train['YearsExperience']))
# print(len(y_train))

# print(len(x_test['YearsExperience']))
# print(len(y_test))
# print(x_train)

### train the model

In [8]:
from sklearn.linear_model import LinearRegression

# create a model
model = LinearRegression()

# train the model using train data set
model.fit(x_train, y_train)

LinearRegression()

### predict all the test values

In [11]:
# predict the salaries for all the employees in the test data set
# y_predictions = y hat
y_predictions = model.predict(x_test)
print(x_test)
print(y_test)
print(y_predictions)

    YearsExperience
13              4.1
16              5.1
20              6.8
6               3.0
32             13.0
0               1.1
22              7.9
13     57081
16     66029
20     91738
6      60150
32    156000
0      39343
22    101302
Name: Salary, dtype: int64
[ 64599.81218336  74638.5545104   91704.41646638  53557.19562361
 153944.61889406  34483.58520222 102747.03302613]

#### evaluate the model

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

MAE = mean_absolute_error(y_test, y_predictions)
print(f"MAE = {MAE}")

MAE = 4444.940504803238

In [13]:
MSE = mean_squared_error(y_test, y_predictions)
print(f"MSE = {MSE}")

MSE = 29149969.575630493

In [15]:
RMSE = np.sqrt(MSE)
print(f"RMSE = {RMSE}")

RMSE = 5399.071177122089

In [16]:
R2 = r2_score(y_test, y_predictions)
print(f"R2 = {R2}")

R2 = 0.9776155013524018